@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-hero {
    background-image: url('../images/3.png');
    transition: background-image 0.1s ease-in, transform 5s ease-in;

}
  
.scale-100 {
    transform: scale(1);
}

.scale-105 {
    transform: scale(1.05);
}

@import url('https://fonts.googleapis.com/css2?family=Sorts+Mill+Goudy:ital@0;1&display=swap');

.sorts-mill-goudy-regular {
    font-family: "Sorts Mill Goudy", serif;
    font-weight: 400;
    font-style: normal;
}

.text-ident {
    text-indent: 2em;
}